:root {
    --main-font-family: "Roboto", sans-serif;
    --secondary-front-family: "Roleway", sans-serif;
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --btn-hover-color: #404bbf;}

    h1, h2, h3, h4, h5, h6, p, ul {
        margin: 0;
        padding: 0;
      }
      
    ul, ol {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;}
    
    .list {list-style: none;
        display: flex;}
        
.link {text-decoration: none;}

*, ::after, ::before {
    box-sizing: border-box;}
    

.adress {font-style: normal;}
[adress]{display: block;}

.pading-bottom-zero {padding-bottom: 0;} 

.body {
font-family: "Roboto", sans-serif;
background-color:var(--primary-bg-color);
color: var(--title-text-color);
background: var(--primary-bg-color);
border-bottom: 1px solid #222c8d;
}

.page-header {
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }


.page-header-container {
    display: flex;
    justify-content: space-between;}

.page-navigation {
align-items: center;
display: flex;
flex-direction: row;
padding: 0px;
}

.main-header {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--primary-bg-color);
max-width: 496px;
text-align: center;
margin: 0 auto 48px auto;
}
    
.text-rob {font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-color);}

.header-text {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
text-align: start;
letter-spacing: 0.02em;
color: var(--primary-text-color);
margin-bottom: 8px}

.page-header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color);
flex-direction: row;
margin-right: 76px;
padding: 24px 0 24px 0;}

.our-footer-a {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
line-height: 1.17;
display: inline-block;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent-color);
flex-direction: row;
margin-bottom: 16px;
}

.page-header-logo>span {color:var(--primary-text-color);}

.our-footer-a-span {color: var(--secondary-bg-color);}

.header-menu {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 0 24px 0;
gap: 40px;}

.header-menu-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding: 24px 0;}

.header-menu-list:hover,
.header-menu-list:focus {
color: var(--btn-hover-color);}

.adress-header {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 0 24px 0;
gap: 40px; 
align-items:center;}

.adress-contact-mail {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--title-text-color);}

.adress-contact-mail:hover,
.adress-contact-mail:focus {
    color: var(--btn-hover-color) ; }
/* hero imag\ */
.first-section { 
    background-color:var(--primary-text-color);
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hw4/people-office\ .jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-color:#2E2F42;
}

/* кнопка */
.modal-open-btn {
    display: block;
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-bg-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    min-width: 169px;
    text-align: center;
    margin: 0 auto;
    height: 56px;
    border: none;}


.modal-open-btn:hover,
.modal-open-btn:focus {background-color: var(--btn-hover-color);}

/* з 0 не приймає */
.secend-section { padding-top: 120px;  padding-bottom: 120px; }

.three-section {padding-bottom: 120px;}

.three-section-page {
    display: flex;
    gap: 24px;}

.list-one {width: calc((100% - 48px) / 3);}

.header-section-three,.header-section-four {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
    margin-bottom: 72px;}

.four-section {background-color: var(--secondary-bg-color);
padding: 120px 0;
}

.container-for-workers {padding: 32px 0;}

.four-section-assembly {display: flex;
    gap: 24px;}

.header-plus {text-align: center;
    margin-bottom: 8px;}

.text-plus {text-align: center;}

.four-section-assembly-list-one {
    background-color: var(--primary-bg-color);
    flex-basis: calc((100% - 48%)/4);
    border-radius: 0 0 4px 4px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }

.our-footer-end {
    background-color:var(--primary-text-color) ;
    padding: 100px 0;}

/* кнопка */
.bts-one {
    background-color:  var(--secondary-bg-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    cursor: pointer;
    display: block;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    display: inline-block;
    min-width: 69px;
    border: 1px solid #E7E9FC;}

.bts-one:hover,
.bts-one:focus {
    color: var(--primary-bg-color);
    background-color: var(--btn-hover-color);
    border: 1px solid transparent;}

.text-footer{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
max-width: 264px ;}
/* порфолио  */
.port-first-section {padding:  96px 0 120px ;}

.buttons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
    border-radius: 4px;}

.workers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    align-items: center;}

img {display: block} 

.secent-section-block-first {width: calc((100% - 72px) / 4);
    flex-wrap: wrap;  }

.header-list {margin-bottom: 8px; }

li {display: list-item;}

main {display: block;}

.pading-bottom-zero {padding-bottom: 0;}

.gap-secend {gap: 24px;}

.workers-li {width: calc((100% - 48px) / 3)}

.zero-margin-right {margin-right: 0}

.container-works {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    }


.secend-section-box {
    display: flex;
    justify-content: center;
    background: #F4F4FD;
border-radius: 4px;
height: 64px;
width: 64px;
}
/* ???????? */
.secend-section-icon {
 display: flex;
 justify-content: center;
    align-items: center;
  }

.social-list {
    display: flex;
    justify-content: center;
    
    margin-top: 8px;
    gap: 24px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5
}
.social-list-link:hover,
.social-list-link:focus {
background-color: var(--btn-hover-color)
}

/* тень */
.shadow {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.shadow-click:hover,
.shadow-click:focus {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.customers {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-align: center;
    
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    
}

.customers-link-item {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: calc((100% - 120px) / 6);
    height:88px;
    width: 168px;
}

.costomers-link-icon {
   display: flex;
   width: 100%;
   height: 100%;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   align-items: center;
   justify-content: center;
   color: red; 
   fill: #f4f4fd;
border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    fill: currentColor; 
}

.costomers-link-icon:hover,
.costomers-link-icon:focus {
    color: #2E2F42;
    border-color: #8e8f99;
    border-color: #404bbf;
    color: #404bbf;
}

.new-secend-div {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: var(--secondary-bg-color);
border-radius: 4px;
margin-bottom: 8px;
}
/* .new-secend-div:hover,
.new-secend-div:focus {
} */

.work-four-secend {
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer-div {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.footer-dav-two {
}

.p-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#FFFFFF;
    margin-bottom: 16px;
}

.ul-social-media {
    display: flex;
    gap: 16px;
}

.li-social-media {
    width: 40px;
    height: 40px;
}

.a-socail-media {
    width: 100%;
    height: 100%;
    background-color:#4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-socail-media:hover,
.a-socail-media:focus {
    background-color: #31d0aa;
}